<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Welcome to our platform, your dedicated platform for seamless e-learning.
  Empowering administrators to effortlessly upload educational videos, and providing students with a user-friendly interface to watch and take insightful notes.
  Join us on a journey of knowledge exploration, where education meets innovation.
</p>
