<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  We are here to assist you!
  Whether you have inquiries, feedback, or need support, our team is just a message away.
  Reach out to us for a prompt and personalized response.
  Let's connect and enhance your e-learning experience together!
</p>
<p>
  <a href="mailto:support@elearningplatform.com">Support</a>.
</p>
