<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Need assistance? You're in the right place! Our Help Center is designed to guide you through any questions or challenges you might encounter.
  Explore our comprehensive resources, FAQs, and troubleshooting tips to make the most of your e-learning journey.
  If you can't find what you're looking for, don't hesitate to reach out to our dedicated support team for personalized assistance.
  Your success is our priority!
</p>
