<% if video_note != nil %>
  <%= turbo_frame_tag dom_id(video_note) do %>
    <li class="note list-item"><%= video_note.note %> <%= link_to "Edit", edit_video_note_path(video_note) %> | <%= link_to "Delete", video_note, method: :delete, data: { confirm: "You sure?" } %> </li>
  <% end %>
<% end %>