<% provide(:title, 'All videos') %>
<h1>All videos</h1>

<% if current_user.admin? %>
  <%= link_to "Add new video", new_video_path %>
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @videos %>
</ul>

<%= will_paginate %>