<% provide(:title, 'All videos') %>

<div class="row mt-2">
  <h1>All videos</h1>

  <div class="col mb-2">
    <% if current_user.admin? %>
      <%= link_to "Add new video", new_video_path %>
    <% end %>
  </div>

  <%= will_paginate %>

  <ul class="users">
    <%= render @videos %>
  </ul>

  <%= will_paginate %>
</div>