<footer class="footer mt-4">
  <div class="row">
    <div class="col">
      &copy; <%= Date.current.year %>
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
</footer>
